.about {

  &__content {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @include breakpoint-up(medium) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__img {
    max-width: 100%;    
    height: auto;    
    padding: .5rem; 
    
    img {      
      min-width: 300px;
      height: 330px;        
    }
  }

  &__info {
    margin: 2rem 0;

    @include breakpoint-up(medium) {
      margin: 0 0 0 2rem;
    }

    a {
      color: $light-color;

      &:hover {
        color: $primary-color;
      }
    }
  }

  @include breakpoint-up(medium) {
    &__skills {
      margin-top: 2rem;
    }
  }
  
  &__certifications {

    .certifications {
      margin-top: 1rem;      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include breakpoint-up(medium) {
        flex-direction: row;
      }

      a img:hover {
        transform: scale(1.05);        
        transition: $transition;
      }
    }       
  }   
}

.skills__content {  
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-size: 1.1rem;

  h5 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .skill-item {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;

    .skill-icon {      
      display: flex;
      align-items: center;
      padding: 1rem;

      span {
        padding: .5rem;
      }
    }
  }
}