.contact {        
  background-color: $light-color;
  background-image: url("data:image/svg+xml,%3Csvg width='1318' height='800' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='-45.25%25' y1='-88.077%25' x2='97.789%25' y2='100%25' id='a'%3E%3Cstop stop-color='%23fbfcfe' offset='0%25'/%3E%3Cstop stop-color='%234682b4' offset='4.09%25'/%3E%3Cstop stop-color='%230a1219' stop-opacity='0' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='-64.06%25' y1='-121.906%25' x2='97.789%25' y2='100%25' id='b'%3E%3Cstop stop-color='%23fbfcfe' offset='0%25'/%3E%3Cstop stop-color='%234682b4' offset='4.09%25'/%3E%3Cstop stop-color='%230a1219' stop-opacity='0' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='100%25' y1='111.373%25' x2='-24.893%25' y2='-55.159%25' id='c'%3E%3Cstop stop-color='%23fbfcfe' offset='0%25'/%3E%3Cstop stop-color='%230a1219' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='21.681%25' y1='5.006%25' x2='145.861%25' y2='145.591%25' id='d'%3E%3Cstop stop-color='%23fbfcfe' offset='0%25'/%3E%3Cstop stop-color='%230a1219' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='6.375%25' y1='-15.195%25' x2='91.754%25' y2='105.701%25' id='e'%3E%3Cstop stop-color='%23fbfcfe' offset='0%25'/%3E%3Cstop stop-color='%230a1219' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='url(%23a)' transform='matrix(-1 0 0 1 834.817 0)' d='M0 0h409.224l425.593 376v156.83z'/%3E%3Cpath fill='url(%23b)' transform='rotate(180 528.65 584)' d='M0 367l641.153.138L1057.3 673.299V801z'/%3E%3Ccircle stroke='url(%23c)' stroke-width='17' cx='704' cy='563' r='49'/%3E%3Crect fill='url(%23d)' opacity='.558' transform='rotate(45 1107.87 708.87)' x='1088.87' y='689.87' width='38' height='38' rx='3'/%3E%3Crect fill='url(%23d)' opacity='.503' transform='rotate(45 1279.598 103.598)' x='1251.598' y='75.598' width='56' height='56' rx='3'/%3E%3Crect fill='url(%23d)' opacity='.558' transform='rotate(45 934.627 63.627)' x='918.627' y='47.627' width='32' height='32' rx='3'/%3E%3Crect fill='url(%23d)' opacity='.558' transform='rotate(45 703.627 186.627)' x='687.627' y='170.627' width='32' height='32' rx='3'/%3E%3Crect fill='url(%23d)' opacity='.387' transform='rotate(45 1237.02 606.02)' x='1228.521' y='597.521' width='17' height='17' rx='1'/%3E%3Cpath d='M91.477 739.477v-16.5a5 5 0 0 1 10 0v16.5h16.5a5 5 0 0 1 0 10h-16.5v16.5a5 5 0 1 1-10 0v-16.5h-16.5a5 5 0 1 1 0-10h16.5z' fill='url(%23e)' opacity='.211' transform='rotate(45 96.477 744.477)'/%3E%3C/g%3E%3C/svg%3E"); 
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;

  h3 {
    margin-top: -1rem;
    margin-bottom: 4rem;
    color: $primary-color;
  }

  &__content {    
    display: grid;    
    grid-template-columns: 1fr;
    gap: 2rem;  

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(3, 1fr);

    }
  }

  &__info {    
    font-size: 1.5rem;  
    margin-bottom: 1rem;  
    color: $primary-color; 
    border: 1px solid $secondary-color; 
    padding: 1rem;

    h4 {
      font-size: 1.5rem;
      font-weight: 500;
      color: $primary-color;
      text-transform: capitalize; 
      
      @include breakpoint-up(medium) {
        font-size: 1.2rem;
      }
    }

    a {
      color: $primary-color;
      font-size: 1.2rem;  
      cursor: pointer;  

      @include breakpoint-up(medium) {
        font-size: 1rem; 
      }

      &:hover {
        color: var(--secondary-color);
        font-weight: 500;
      }
    }
  }
}