.header {  
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg width='1318' height='800' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='-45.25%25' y1='-88.077%25' x2='97.789%25' y2='100%25' id='a'%3E%3Cstop stop-color='%23fbfcfe' offset='0%25'/%3E%3Cstop stop-color='%234682b4' offset='4.09%25'/%3E%3Cstop stop-color='%230a1219' stop-opacity='0' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='-64.06%25' y1='-121.906%25' x2='97.789%25' y2='100%25' id='b'%3E%3Cstop stop-color='%23fbfcfe' offset='0%25'/%3E%3Cstop stop-color='%234682b4' offset='4.09%25'/%3E%3Cstop stop-color='%230a1219' stop-opacity='0' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='100%25' y1='111.373%25' x2='-24.893%25' y2='-55.159%25' id='c'%3E%3Cstop stop-color='%23fbfcfe' offset='0%25'/%3E%3Cstop stop-color='%230a1219' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='21.681%25' y1='5.006%25' x2='145.861%25' y2='145.591%25' id='d'%3E%3Cstop stop-color='%23fbfcfe' offset='0%25'/%3E%3Cstop stop-color='%230a1219' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='6.375%25' y1='-15.195%25' x2='91.754%25' y2='105.701%25' id='e'%3E%3Cstop stop-color='%23fbfcfe' offset='0%25'/%3E%3Cstop stop-color='%230a1219' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='url(%23a)' transform='matrix(-1 0 0 1 834.817 0)' d='M0 0h409.224l425.593 376v156.83z'/%3E%3Cpath fill='url(%23b)' transform='rotate(180 528.65 584)' d='M0 367l641.153.138L1057.3 673.299V801z'/%3E%3Ccircle stroke='url(%23c)' stroke-width='17' cx='704' cy='563' r='49'/%3E%3Crect fill='url(%23d)' opacity='.558' transform='rotate(45 1107.87 708.87)' x='1088.87' y='689.87' width='38' height='38' rx='3'/%3E%3Crect fill='url(%23d)' opacity='.503' transform='rotate(45 1279.598 103.598)' x='1251.598' y='75.598' width='56' height='56' rx='3'/%3E%3Crect fill='url(%23d)' opacity='.558' transform='rotate(45 934.627 63.627)' x='918.627' y='47.627' width='32' height='32' rx='3'/%3E%3Crect fill='url(%23d)' opacity='.558' transform='rotate(45 703.627 186.627)' x='687.627' y='170.627' width='32' height='32' rx='3'/%3E%3Crect fill='url(%23d)' opacity='.387' transform='rotate(45 1237.02 606.02)' x='1228.521' y='597.521' width='17' height='17' rx='1'/%3E%3Cpath d='M91.477 739.477v-16.5a5 5 0 0 1 10 0v16.5h16.5a5 5 0 0 1 0 10h-16.5v16.5a5 5 0 1 1-10 0v-16.5h-16.5a5 5 0 1 1 0-10h16.5z' fill='url(%23e)' opacity='.211' transform='rotate(45 96.477 744.477)'/%3E%3C/g%3E%3C/svg%3E"); 
  background-position: center center;  
  background-color: $primary-color;
  height: 100vh;
  max-width: 100%;
  position: relative;
  z-index: 10;  
  
  .navbar {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    .container {
      @include breakpoint-up(medium) {
        display: flex;
        justify-content: space-between;
        align-items: center;      
        padding: .5rem 1rem;
      }      
    }  
    
    &.fixed-navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $primary-color;
      color: $primary-color;
      z-index: 10;
      overflow: hidden;

      .navbar__header {
        .navbar__logo {
          color: $light-color;
        }

        .navbar__burger {
          span {
            background-color: $light-color;
          }
        }
      }

      .navbar__menu {
        transition: $transition;        
        li { 

          a {
            color: $light-color;
            transition: $transition;        

            &:hover {
              color: $secondary-color;

            }
          }
        }
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5rem 1rem;      
    }

    &__logo {
      font-size: 2rem;
      font-family: 'Pacifico', cursive;
      color: $light-color;
      
    }

    &__burger {
      @include breakpoint-up(medium) {
        display: none;
      }
      
      > span {
        display: block;
        width: 26px;
        height: 2px;
        background-color: $light-color;
        transition: $transition;
        transform-origin: 3px 1px;

        &:not(:last-child){
          margin-bottom: 5px;
        }
      }
    }

    &.open {

      .navbar__burger {
        > span:first-child {
          transform: rotate(45deg);
        }        
        > span:nth-child(2) {
          opacity: 0;
        }        
        > span:last-child {
          transform: rotate(-45deg);
        }
      }
    }

    &__menu {
      height: 0;
      overflow: hidden;
      transition: $transition;

      @include breakpoint-up(medium) {
        height: auto;
        display: flex;
      }

      &.open {
        height: auto;  
      }

      li {

        a {
          color: $light-color;
          font-size: 1rem;
          font-weight: 500;
          text-transform: capitalize;
          letter-spacing: 2px;
          display: block;
          padding: .5rem 1rem;
          transition: $transition;

          @include breakpoint-up(medium) {
            padding: 0;
            margin: 0 .5rem;
          }

          &:hover {            
            color: $light-color;
            padding-left: 1.5rem;

            @include breakpoint-up(medium) {
              background-color: transparent;
              color: $primary-color;
              padding: 0;
              
              &:hover {
                color: $secondary-color;
              }
            }
          }
        }
      }
    }
  }

  /* Down link */
  .btn-down {
    font-size: 1.5rem;
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    background: $secondary-color;
    width: 2.5rem;
    height: 2.5rem;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: $light-color;     
    animation: bounce 2s ease-in-out infinite;

    @include breakpoint-up(medium) {
      bottom: 4.5rem;
      left: 4rem;
    }
  }  
}