.hero {  
  display: flex;  
  justify-content: center;
  align-items: center;
  height: 90vh;  
  animation: hero-load 300ms ease-in forwards .5s;  
  transform: translateY(-20px);
  opacity: 0;  

  &__intro {    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;    
    color: $light-color;  
    padding: 1rem;

    h3 {
      font-weight: 300;
    }

    h1 {
      margin: 0;
      padding: 0;  
    }

    h2 {
      font-size: 1.5rem;

      @include breakpoint-up(medium) {
        font-size: 2rem;
      }

      span {
        display: block;
        margin-bottom: 2rem;
      }
    }    
  }       
}