/* Variables */
// Colors
$primary-color: #0a1219;  
$secondary-color: #4682b4;
$light-color: #fbfcfe;  

$shadow: 0 0 10px var($primary-color);
// Backgroung image
$bg-image: url('../../images/bg-image.svg');

$transition: all 0.4s linear;    
